<!-- Footer -->
<footer class="footer text-center bg-dark">
  <div class="container">
    <p class="text-muted small mb-0">Copyright &copy; Crypto Bet 2019</p>
  </div>
</footer>

<!-- Custom scripts for this template -->
<script src="/javascripts/stylish-portfolio.js"></script>