  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/">CRYPTO BET</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/numberbet">Number Bet</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="https://get242.herokuapp.com/" target="_blank">Developer</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" target="_blank" >Blog</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="https://github.com/sangsang242/crypto-bet" target="_blank">Github</a>
      </li>
    </ul>
  </nav>