<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body id="page-top">

  <% include ../partials/navigation %>

  <!-- Services -->
  <section class="content-section bg-secondary text-white" id="services">
    <div class="container">
      <div class="content">
        <h2 class="text-secondary mb-5">Hit Number</h2>
      </div>
      <div class="content-section-heading">
        <h3 class="mb-3">Tables</h3>
      </div>
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>

        <div class="col-lg-3 col-md-6 mb-5 mb-lg-5">
          <span class="sits-icon rounded-circle mx-auto mb-1">
            SIT
          </span>
          <span class="service-icon mx-auto mb-1">
            MAKE A BET
          </span>
          <span class="sits-icon rounded-circle mx-auto mb-2">
            SIT
          </span>
          <h5>
            <strong>Responsive</strong>
          </h5>
        </div>
        
        <span class='address'>0x123123address</span>


      </div>
    </div>

    <% include ../partials/chat %>

  </section>

  <% include ../partials/footer %>

</body>

</html>