<!DOCTYPE html>
<html lang="en">

  <% include ../partials/head %>

<body id="page-top">

  <% include ../partials/navigation %>

  <% include ../partials/header %>

  <!-- Services -->
  <section class="content-section bg-secondary text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h2 class="text-secondary mb-5">Games</h2>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <a href="/numberbet">
              <i class="icon-screen-smartphone"></i>
            </a>
          </span>
          <h4>
            <strong>Number Bet</strong>
          </h4>
          <p class="text-faded mb-0">Available Now!</p>
        </div>
        <div class="col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Baccarat</strong>
          </h4>
          <p class="text-faded mb-0">Under construction</p>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer %>

</body>

</html>